body {
    margin: 0;
    overflow: hidden;
    background-color: #ffdada;
}

.flower {
    position: absolute;
    width: 20px; /* Ajusta el tamaño de la flor según tus preferencias */
    height: 20px; /* Ajusta el tamaño de la flor según tus preferencias */
    background-image: url('flor.png');
    background-size: cover;
    animation: fall 2s linear infinite;
    pointer-events: none;
}

.message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Arial", sans-serif; /* Cambia la fuente a una tipografía bonita */
    color: white;
    font-size: 28px;
    text-align: center;
}

/* Estilos para el contenedor de audio */
.audio-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;    
}

/* Estilos para los controles de audio */
audio {
    width: 100%;
}